.organizer {
  margin-bottom: 5rem;
  padding: 5rem;
  background: linear-gradient(to right, #49a09f, #287799);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;

  &__image {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    height: 40rem;
  }

  &__content {
    padding: 0 1rem 1rem 1rem;
  }

  &__title {
    flex: 0 0 5rem;
    display: inline;
    position: relative;
    font-family: 'Montserrat', 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 900;
  }

  &__title::after {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: -0.5rem;
    left: 0;
    background: rgba(255,255,255,.25);
    height: 2px;
    width: 100%;
  }

  &__body {
    margin-top: 3rem;
    font-size: 1.2rem;
  }

  &__list-item {
    font-size: 1.2rem;
    line-height: 1.4285em;    
  }
}

.organizer > *:not(:last-child) {
    margin-right: 2rem;
}