.hero {
  position: relative;
  margin-bottom: 5rem;
  width: 100vw;
  height: 60rem;
  background: linear-gradient(to right, #49a09f, #287799);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  // border-bottom-right-radius: 30%;
  text-align: center;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: -10rem;
  //   left: 0;
  //   height: 15rem;
  //   width: 15rem;
  //   border-bottom-right-radius: 40%;
  //   background: linear-gradient(to right, #49a09e, #29799a);
  //   z-index: 1001;
  // }

  &__content {
    height: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    fill: #fff !important;
    height: 15rem;
  }

  &__subheader {
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
  }

  &__meta {
    color: white;
    font-weight: 100;
    font-size: 2rem;
  }
}

.btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn__container > *:not(last-child) {
  margin-right: 2rem;
}

.btn {
  background-color: #fff;
  color: #49a09e;
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 0 2px 8px rgba(0,0,0, 0.3);
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
  transform: translateY(0.25rem);
}